.myCss thead th span{
    background-color: #3258a8;
    color: white;
}
.myCss td {
    background-color: #fffbdb;
    color: black;
}
.myCss tr {
    background-color: #fffbdb;
    color: black;
}
.myCss td:hover {
    background-color: #ffed63 !important;
    color: black !important;
    font-weight:bold !important;
}
